$header_height: 55px;

// Colors
$c_primary: #0fafa7;
$c_primary_light: #10e5d9;
$c_primary_dark: #119c94;

$c_secondary: #33415D;
$c_secondary_light: #42557c;
$c_secondary_dark: #212b3e;

$c_black: #222222;
$c_grey75: #4F4F4F;
$c_grey50: #888888;
$c_grey25: #CFCFCF;
$c_grey10: #F0F0F0;
$c_white: #F6F6F6;

$c_error: #CC5555;
$c_warning: #DDCC55;